/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

   /*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.main-container, #worldMap {
    position: relative;
    display: block;
    width: 1240px;
    height: 800px;
    margin: 50px auto;
}
.avatars {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    display: block;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
.avatars img {
    max-width: 40px;
    display: inline-block;
    height: 30px;
    margin-left: 11px;
    overflow: hidden;
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.avatars img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.avatars a img {
    position: relative;
    -moz-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    top: 0;
}
.avatars a img.full-opacity {
    opacity: 1;
    -moz-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    top: 150px;
}
.watching {
    font-family: 'Open Sans', sans-serif;
    right: 0;
    position: absolute;
    color: #aaa;
}
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.main-container, #worldMap {
    position: relative;
    display: block;
    width: 1240px;
    height: 800px;
    margin: 50px auto;
}
.avatars {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    display: block;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
.avatars img {
    max-width: 40px;
    display: inline-block;
    height: 30px;
    margin-left: 11px;
    overflow: hidden;
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.avatars img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.avatars a img {
    position: relative;
    -moz-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    top: 0;
}
.avatars a img.full-opacity {
    opacity: 1;
    -moz-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    top: 150px;
}
.watching {
    font-family: 'Open Sans', sans-serif;
    right: 0;
    position: absolute;
    color: #aaa;
}
.tables {
    position: absolute;
    z-index: 50;
    overflow: auto;
    height: 400px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}
.tables ul {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    height: auto;
}
.tables ul li {
    font-size: 14px;
    float: left;
    width: 100%;
    height: 40px;
    background: #60845b;    
    color: #555;
    padding: 10px;
    box-sizing: border-box;
}
.tables ul li:nth-child(odd){
    background: #8dbd86;
}
.country, .counter {
    float: left;
    width: 75%;
    text-align: left;
    box-sizing: border-box;
}
li .counter {
    text-align: right;
    width: 25%;
    font-weight: bold;
}
#push-request.tables {
    top: 10%;
    left: 10%;
}
#pull-request.tables {
    bottom: 10%;
    left: 10%;
}
#issue-event-request.tables {
    top: 10%;
    right: 10%;
}
#issue-comment-event-request.tables {
    bottom: 10%;
    right: 10%;
}
.githuber-info {
    position: absolute;
    top: 20px;
    display: block;
    width: 300px;
    left: 20px;
    background: #abdda4;
}
.githuber-info .header {
    float: left;
    width: 100%;
    display: block;
    background: #a0c59b;
    height: 47px;
}
.githuber-info .header h2 {
    float: right;
    margin: 10px 10px 0 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans';
}
.githuber-info .body {
    float: left;
    width: 100%;
    display: block;
    height: 200px;
}
.githuber-info .header img {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0px 0 0 10px;
    float: left;
    padding: 6px;
}
.githuber-info .body ul {
    float: left;
    width: 100%;
    display: block;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
.githuber-info .body ul li {
    float: left;
    width: 100%;
    height: 40px;
    padding-left: 6%;
    display: block;
    padding-right: 8px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #fff;
    padding-top: 5px;
}
.githuber-info .body li span:first-child {
    float: left;
}
.githuber-info .body li span:first-child {
    float: right;
}
.githuber-info .body ul li:nth-child(even) {
    background: #98d69b;
}
.github-ribbon {
    width: 12.1em;
    height: 12.1em;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
    font-size: 13px;
    text-decoration: none;
    text-indent: -999999px;
}
.github-fork-ribbon:before {
    background-color: #000;
}
.github-ribbon:before {
    content: "";
    padding: .38em 0;
    background-color: #000;
    pointer-events: auto;
}
.github-ribbon:before, .github-ribbon:after {
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;
    top: 6.23em;
    right: -2.99em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.github-ribbon:after {
    content: attr(title);
    color: #fff;
    font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.54em;
    text-decoration: none;
    text-shadow: 0 -0.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;
    padding: .15em 0;
    margin: .15em 0;
    border-width: .08em 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
}
a:after {
    position: absolute;
    top: 0;
    width: 2px;
    height: 2px;
    background: #000;
    display: block;
}